* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --silver--tree: hsla(181, 100%, 22%, 1);
  --placeholder-green: hsla(181, 100%, 22%, 0.75);
  --disable-color: hsla(0, 0%, 64%, 1);
  --silver--sand: hsla(181, 100%, 97%, 1);
  --emerald: hsl(170, 50%, 75%);
  --cyan-green: hsla(180, 39%, 82%, 0.2);
  --orange-white: hsla(11, 50%, 91%, 1);
  --tree-cyan: hsla(180, 39%, 82%, 1);
  --orange: hsla(21, 96%, 43%, 1);
  --delete: hsl(48, 93%, 53%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 80%);
  --cancel: hsl(0, 0%, 38%);
  --black: hsl(210, 29%, 25%);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--silver--sand);
  font-family: "Roboto", serif;
}

main {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 15px;
}

header {
  width: 100%;
  color: var(--silver--tree);
  margin-top: 20px;
  display: flex;
  font-size: 2.8rem;
  justify-content: center;
  height: 100px;
}

form {
  width: 100%;
  height: 154px;
  border: 1px solid var(--silver--tree);
  border-radius: 8px;
  padding: 20px;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal {
  background: var(--white);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  width: 90%;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cancel-delete,
.confirm-delete {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-delete {
  background: var(--cancel);
  color: var(--white);
}

.confirm-delete {
  background: var(--delete);
  color: var(--white);
}

.input-buttons {
  display: flex;
  gap: 20px;
}

.create-input {
  width: 418px;
  height: 40px;
  border-radius: 8px;
  padding: 10px 9px;
  background-color: var(--cyan-green);
  font-size: 1.5rem;
  font-weight: 600;
  outline: none;
  outline-color: var(--silver--tree);
  border: 1px solid var(--silver--tree);
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.action-icons {
  min-width: 28px;
  width: 40px;
  border-radius: 8px;
  background-color: var(--silver--tree);
  color: var(--silver--sand);
  cursor: pointer;
  font-size: 20px;
}

.filter-buttons {
  display: flex;
  border: 1px solid var(--silver--tree);
  border-radius: 8px;
  margin-top: 20px;
  gap: 5px;
}

.filter-button:nth-child(1) {
  border-radius: 8px 0px 0px 8px;
}

.filter-button:nth-child(3) {
  border-radius: 0px 8px 8px 0px;
}

.filter-button {
  width: 176px;
  height: 40px;
  color: var(--silver--tree);
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--tree-cyan);
}

.create-input::placeholder {
  color: var(--placeholder-green);
}

.action-icons:disabled {
  background-color: var(--disable-color);
  cursor: not-allowed;
}

.btn-filter-active {
  background-color: var(--silver--tree);
  color: var(--white);
}

.content {
  width: 100%;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 10px;
  overflow: auto;
}

.todo-item {
  background: var(--orange-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--orange);
}

.todo-item-content.editing {
  border-bottom: 1px solid var(--gray);
  outline: none;
  min-width: 100px;
}

.todo-item-content.editing:focus {
  border-bottom-color: var(--silver--sand);
}

.todo-item-content {
  width: 100%;
  white-space: nowrap;
}

.todo-item-group {
  width: 25%;
  display: flex;
  gap: 15px;
}

.todo-item-group > input {
  transform: scale(1);
}

.fa-solid.fa-trash {
  margin-left: 20px;
  cursor: pointer;
}
.fa-solid.fa-pen,
.fa-solid.fa-check {
  cursor: pointer;
}
.fa-solid.fa-circle-exclamation {
  font-size: 60px;
  color: var(--delete);
}

.fa-check-circle {
  color: var(--emerald);
}

.fa-stop-circle {
  color: var(--orange);
}

.modal > h2 {
  margin-top: 10px;
}

.modal > p {
  margin-top: 10px;
  font-size: 15px;
}

.error-span {
  display: none;
  color: var(--orange);
  font-size: 1.1rem;
  margin-top: 2px;
}

.error-span-content {
  display: none;
  color: var(--orange);
  font-size: 2.4rem;
  margin-top: 2px;
}

.error-span-visible {
  display: block;
}

.task-completed {
  background-color: var(--emerald);
  color: var(--silver--tree);
}

.todo-item.task-completed .todo-item-content {
  text-decoration: line-through;
}

.fa-stop-circle {
  font-size: 20px;
  color: var(--red);
}
.fa-check-circle,
.fa-stop-circle {
  text-decoration: none;
  font-style: normal;
}
