* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --silver--tree: hsl(150, 50%, 60%);
  --disable-color: hsl(150, 52%, 78%);
  --silver--sand: hsl(192, 16%, 94%);
  --emerald: hsl(150, 52%, 51%);
  --delete: hsl(48, 93%, 53%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 80%);
  --cancel: hsl(0, 0%, 38%);
  --black: hsl(210, 29%, 25%);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--silver--sand);
  font-family: "League Spartan", sans-serif;
  overflow: hidden;
}

header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  font-size: 2.8rem;
  justify-content: center;
  height: 155px;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal {
  background: var(--white);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  width: 90%;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cancelDelete,
.confirmDelete {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelDelete {
  background: var(--cancel);
  color: var(--white);
}

.confirmDelete {
  background: var(--delete);
  color: var(--white);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

form {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

input[type="text"] {
  flex: 1;
  height: 100%;
  padding: 15px;
  border: 1px solid var(--gray);
  border-radius: 3px;
  color: var(--black);
  font-size: 13px;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
}

#filter-dropdown {
  height: 48px;
  padding: 15px;
  border: 1px solid var(--gray);
  border-radius: 3px;
  color: var(--black);
  font-size: 13px;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
}

.create-item {
  width: auto;
  height: 100%;
  font-weight: bold;
  color: var(--white);
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 14px;
  background-color: var(--silver--tree);
}

.create-item:disabled {
  background-color: var(--disable-color);
  cursor: not-allowed;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 100%;
  padding: 10px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  border-radius: 3px;
  color: var(--black);
  font-size: 13px;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
}

#filter-input {
  outline: none;
  width: calc(100% - 30px);
  padding: 0;
  border: none;
  background: transparent;
}

.search-word {
  border: transparent;
  min-width: 26px;
  width: 26px;
  height: 26px;
  background: none;
  background-image: url("images/icons8-search-26.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
  margin-left: 4px;
}

label {
  height: 100%;
}

section {
  height: 100%;
  display: flex;
  gap: 5px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.todo-item {
  background: var(--emerald);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 275px;
  font-size: 18px;
  color: var(--silver--sand);
}

.todo-item-content.editing {
  border-bottom: 1px solid var(--gray);
  outline: none;
  min-width: 100px;
}

.todo-item-content.editing:focus {
  border-bottom-color: var(--silver--sand);
}

.todo-item-content {
  width: 100%;
  white-space: nowrap;
}

.todo-item-group {
  width: 25%;
  display: flex;
  gap: 15px;
}

.todo-item-group > input {
  transform: scale(1);
}

.fa-solid.fa-trash {
  margin-left: 8px;
  cursor: pointer;
}
.fa-solid.fa-pen,
.fa-solid.fa-check {
  cursor: pointer;
}
.fa-solid.fa-circle-exclamation {
  font-size: 60px;
  color: var(--delete);
}
.modal > h2 {
  margin-top: 10px;
}

.modal > p {
  margin-top: 10px;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  input {
    width: 500px;
  }
  .search-container {
    width: 450px;
  }

  #filter-input {
    width: 450px;
  }
}
