* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --silver--tree: hsl(150, 50%, 60%);
  --disable-color: hsl(150, 52%, 78%);
  --silver--sand: hsl(192, 16%, 94%);
  --emerald: hsl(150, 52%, 51%);
  --delete: hsl(48, 93%, 53%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 80%);
  --cancel: hsl(0, 0%, 38%);
  --black: hsl(210, 29%, 25%);
}

header {
  width: 100%;
  margin-top: 20px;
  font-size: 2.8rem;
  margin-bottom: 40px;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 80vw;
  justify-self: center;
  background-color: var(--silver--sand);
  font-family: "League Spartan", sans-serif;
  overflow: hidden;
}
main {
  padding: 15px;
}

body,
main,
form,
.search-container,
header,
.modal-buttons,
.todo-item,
.content,
section,
.row,
.todo-item-group {
  display: flex;
}

.search-container,
.content,
.modal-container,
.todo-item {
  align-items: center;
}

.modal-buttons,
.modal-container,
header {
  justify-content: center;
}

.todo-item,
.search-container {
  justify-content: space-between;
}

body,
main,
.content,
form {
  flex-direction: column;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  background: var(--white);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  width: 90%;
}

.modal-buttons {
  margin-top: 20px;
  gap: 10px;
}
select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='currentColor' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  appearance: none;
}

.cancel-delete,
.confirm-delete,
.create-item {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  text-align: center;
}

.cancel-delete {
  background: var(--cancel);
}

.confirm-delete {
  background: var(--delete);
}

.error-message {
  color: red;
  font-size: 1.5rem;
}
form {
  flex-wrap: wrap;
  min-height: 80px;
}

.create-input,
.filter-dropdown,
.search-container {
  background-color: var(--white);
  width: 100%;
  height: 48px;
  padding: 15px;
  border: 1px solid var(--gray);
  border-radius: 3px;
  color: var(--black);
  font-size: 13px;
}
.create-item,
.filter-dropdown {
  width: 118px;
  flex-shrink: 0;
  height: 48px;
}
.create-item {
  filter: saturate(2.5);
  background-color: var(--silver--tree);
  font-size: 14px;
  height: 48px;
}
.create-item:disabled {
  background-color: var(--disable-color);
  cursor: not-allowed;
}

.filter-input {
  outline: none;
  width: calc(100% - 30px);
  padding: 0;
  border: none;
  background: transparent;
}

.search-word {
  width: 26px;
  height: 26px;
  background: url("images/icons8-search-26.png") no-repeat center / contain;
  margin-left: 4px;
  flex-shrink: 0;
}
section {
  margin-bottom: 15px;
}
label,
section,
form,
.row,
.content {
  width: 100%;
  gap: 10px;
}
.content {
  margin-top: 15px;
  overflow: auto;
  max-height: 69vh;
  padding-right: 5px;
  padding-bottom: 20px;
}

.todo-item {
  background: var(--emerald);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  color: var(--silver--sand);
}

.todo-item-content {
  width: 100%;
  white-space: nowrap;
}

.todo-item-content.editing {
  border-bottom: 1px solid var(--gray);
  outline: none;
}

.todo-item-content.editing:focus {
  border-bottom-color: var(--silver--sand);
}

.todo-item-group {
  width: 25%;
  gap: 15px;
}

.todo-item-group > input {
  transform: scale(1);
}

.fa-solid.fa-trash,
.fa-solid.fa-pen,
.fa-solid.fa-check {
  cursor: pointer;
}
.fa-solid.fa-trash {
  margin-left: 12px;
  margin-right: 4px;
  cursor: pointer;
}
.fa-solid.fa-circle-exclamation {
  font-size: 60px;
  color: var(--delete);
}

.modal > h2,
.modal > p {
  margin-top: 10px;
}

.modal > p {
  font-size: 15px;
}
